**/__pycache__/
**/.ipynb_checkpoints/
.idea

# Archives
**.zip
**.tar.gz


# PyTorch checkpoints
**.pt
**.pth
**.ckpt

# Datasets
datasets/**/*.txt
datasets/**/*.npy
datasets/**/*.jpg
datasets/**/*.jpeg
datasets/**/*.png
